{# 
    Esta plantilla HTML representa la página "About Us" (Sobre Nosotros).
    Usa la herencia de plantillas de Jinja2 para extender la estructura común definida en "base.html".
  #}
  
  {% extends "base.html" %}
  {# Extiende la plantilla base. Así se reutiliza el header, el navbar y el footer definidos allí. #}
  
  {% block title %}
      About us
  {% endblock %}
  {# Bloque "title" → Se inserta en el <title> de la pestaña del navegador. #}
  
  {% block content %}
      {# Inicio del bloque de contenido principal que se insertará en base.html. #}
      
      <h1 style="text-align: center; margin-top: 24px;">
          Welcome to My Cloud UPM Website
      </h1>
      {# Encabezado principal centrado en la página. #}
  
      <p style="text-align: center; margin-top: 24px;">
          This is the about us page.
      </p>
      {# Párrafo descriptivo, también centrado. Actualmente es un texto de marcador de posición (placeholder). #}
  
  {% endblock %}
  {# Fin del bloque de contenido. #}
  