{% extends "base.html" %}
{% block title %}Admin{% endblock %}

{% block content %}
<div style="max-width: 1500px; margin: auto; max-height: 500px; overflow-y: auto;">
    {% for user in users %}
    <div style="border: 1px solid black; padding: 10px; margin-top: 10px; position: relative;">
        <p>Name: {{ user.name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Rol: {{ user.role }}</p>
        <h4>Login Registers</h4>
        {% for record in user.login_records %}
        <div style="border: 1px solid black; padding: 10px; margin-top: 10px; position: relative;">
            <p>IP: {{ record.ip_address }}</p>
            <p>Last login: {{ record.login_time }}</p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}