{% extends "base.html" %}
{# Extiende de la plantilla base → incluye navbar, footer y demás componentes comunes #}

{% block title %}
    My UPM cloud
{% endblock %}
{# Define el título que aparecerá en la pestaña del navegador → en este caso "My UPM cloud" #}

{% block content %}
    {# Inicio del bloque de contenido específico que se inyectará en base.html #}

    <h1 style="text-align: center; margin-top: 24px;">
        Welcome to My Cloud Website
    </h1>
    {# Encabezado principal centrado → texto de bienvenida para el usuario. #}

    <p style="text-align: center; margin-top: 24px;">
        Welcome to My Cloud Website, your personal and secure space to manage files, share content, and communicate within your university community.
        Access your posts, stay connected with others, and organize your information from any device, anytime. 
        Our platform is designed to offer an intuitive and private experience with collaborative features, internal messaging, and full control over your profile.
    </p>
    {# Párrafo descriptivo → Explicación simple del propósito del servicio #}

{% endblock %}
{# Fin del bloque de contenido → lo que se coloque aquí se renderizará en el bloque content de base.html #}
