{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
    <h3 style="text-align: center; margin-top: 24px;">Sign up</h3>
    <form method="post">
        <div class="mb-1" style="margin-top: 10px;">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
        </div>
        <div class="mb-1" style="margin-top: 10px;">
            <label for="surname" class="form-label">Surname</label>
            <input type="text" class="form-control" id="surname" name="surname" placeholder="Enter your surname" required>
        </div>
        <div class="mb-1" style="margin-top: 10px;">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="mb-1" style="margin-top: 10px;">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password" required>
        </div>
        <div class="mb-1" style="margin-top: 10px;">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Repeat the password" required>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Sign up</button>
    </form>
{% endblock %}